<div class="form row">
  <%= form_with(model:task, local: true, url: choose_path, class: 'form-horizontal')do |f|  %>
    <div class="form-group">
      <%# 今のところ確認画面作らないので不要 %>
      <%# <%= f.hidden_field :task_name %>
      <%# <%= f.hidden_field :details %>
      <%# <%= f.hidden_field :valid_date %>
      <%# <%= f.hidden_field :status %>
      <%# <%= f.hidden_field :priority %>
      <%# <%= f.hidden_field :label_ids %>
    </div>
    <div class="form-group">
      <%= f.label :task_name %>
      <%= f.text_field :task_name, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :details %>
      <%= f.text_area :details, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :valid_date %><br>
      <%= f.date_field :valid_date %><br>
    </div>
    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, [[t('.Not started'),'未着手'],[t('.Already started'),'着手中'],[t('.done'),'完了']], include_blank: t('.select') %>
    </div>
    <div class="form-group">
      <%= f.label :priority %>
      <!-- viewのja.yml ja.tasks.form -->
      <%= f.select :priority, { t('.high') => t('.high'), t('.middle') => t('.middle'), t('.low') => t('.low') }, { include_blank: true } %>
      <%# <%= f.select :priority, { t('.high') => 2, t('.middle') => 1, t('.low') => 0 }, { include_blank: true } %>
    </div>

    <div class="form-group labels">
      <% label = Label.where(user_id: [nil, current_user.id]) %>
      <%= f.collection_check_boxes :label_ids, label, :id, :label_name, include_hidden: false %>
    </div>
    <div class="form-group">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
    <% end %>
</div>
