<h1><%= t('.title') %></h1>
<%= form_with(url: tasks_path, local: true, method: 'get')do |f| %>
  <%= f.label t('.task_name') %><br>
  <%= f.text_field :task_name %><br>
  <%= f.label t('.status') %><br>
  <%= f.select :status, [[t('.Not started'),'未着手'],[t('.Already started'),'着手中'],[t('.done'),'完了']], include_blank: t('.select') %><br>
  <%= f.submit t('.search') %><br>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= t('.task_name') %></th>
      <th><%= t('.details') %></th>
      <th><%= t('.created_at') %></th>
      <th><%= t('.valid_date') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.priority') %></th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr id="sequence">
        <td id="task_name"><%= task.task_name %></td>
        <td><%= task.details %></td>
        <td><%= task.created_at %></td>
        <td><%= task.valid_date %></td>
        <td id="status_shown"><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to t('.edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('.delete'), task_path(task.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table><br>
<%= paginate @tasks %> 
<%= link_to t('.create new'), new_task_path %> |
<%= link_to t('.sort by valid'), tasks_path(order_valid: 'valid_date') %> |
<%= link_to t('.sort by priority'), tasks_path(order_priority: 'priority') %>
