<h3><%= t('dictionary.words.task_name') %>:</h3>
<%= @task.task_name %>
<h3><%= t('dictionary.words.details') %>:</h3>
<%= @task.details %><br>
<h3><%= t('dictionary.words.created_at') %>:</h3>
<%= @task.created_at %><br>
<h3><%= t('dictionary.words.valid_date') %>:</h3>
<%= @task.valid_date %><br>
<h3><%= t('dictionary.words.status') %>:</h3>
<%= @task.status %><br>
<h3><%= t('dictionary.words.priority') %>:</h3>
<%= @task.priority %><br>
