<p class="text-success bg-success"><%= notice %></p>
<h3><%= t('dictionary.words.task_name') %>:</h3>
<%= @task.task_name %>
<h3><%= t('dictionary.words.details') %>:</h3>
<%= @task.details %><br>
<h3><%= t('dictionary.words.created_at') %>:</h3>
<%= l @task.created_at, format: :long %><br>
<h3><%= t('dictionary.words.valid_date') %>:</h3>
<%= l @task.valid_date %><br>
<%# <%= l @task.valid_date, format: :short_2 %><br>
<h3><%= t('dictionary.words.status') %>:</h3>
<%= @task.status %><br>
<h3><%= t('dictionary.words.priority') %>:</h3>
<%= @task.priority %><br>
<%= link_to t('.index'), tasks_path, class: 'btn btn-link' %>
