<h3><%= t('.confirmation') %></h3>
<div class="form-row">
  <%= form_with(model: @label, local: true, url: labels_path)do |f| %>
    <div class="form-group">
      <%= f.hidden_field :label_name %>
    </div>
    <div class="form-group">
      <%= f.label :label_name %>
      <%= @label.label_name %>
    </div>
    <div class="form-group">
      <%= f.submit t('.back'), name: 'back' %>
      <%= f.submit %>
    </div>
  <% end %>
</div>
