<p class="text-success bg-success"><%= notice %></p>
<h3><%= t('dictionary.words.user_name') %></h3>
<p id="show_user_name"><%= @user.user_name %></p>
<h3><%= t('dictionary.words.email') %></h3>
<p id="show_email"><%= @user.email %>
</p>
