<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <!-- 音声メニュー -->
        <span class="sr-only">TaskManager</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'TaskManager', tasks_path, class: 'navbar-brand' %>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li>
            <%= link_to "#{ t('.logout') }", session_path(current_user.id), method: :delete %>
          </li>
          <li>
            <%= link_to "#{ t('.index') }", tasks_path %>
          </li>
          <li>
            <%= link_to "#{ t('.create new') }", new_task_path %>
          </li>
          <li>
            <%= link_to "#{ t('.admin') }", admin_users_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "#{ t('.login') }", new_session_path %>
          </li>
          <li>
            <%= link_to "#{ t('.create user') }", new_user_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
