<!DOCTYPE html>
<html>
  <head>
    <title>TasksManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- FontAwesome -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <!-- 追記 -->
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%= notice %>
      <% if @task && @task.errors.any? %>
        <p><%= @task.errors.count %> 件のエラーがあります。</p>
        <% @task.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      <% end %>
      <div class="row">
        <%= yield %>
        <%= link_to '一覧', tasks_path %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
